.footer {
  background-color: var(--background-footer-color, #2f303a);
  padding: 60px 0;
}

.footer__part-logo {
  color: var(--secondary-text-color, #ffffff);
}

.footer__media {
  display: flex;
  align-items: baseline;
}

.links {
  text-decoration: none;
  color: #212121;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.main-logo:hover,
.main-logo:focus {
  color: var(--secondary-font-color, #2196f3);
}

.part-one-logo {
  color: var(--secondary-font-color, #2196f3);
}

.footer-address {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  color: var(--footer-text-color, rgba(255, 255, 255, 0.6));
  font-family: var(--main-font, "Roboto", sans-serif);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:hover,
.footer__contact:focus {
  color: var(--secondary-font-color, #2196f3);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__join {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
}

.list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item:focus,
.footer-social__item:hover {
  background-color: var(--secondary-font-color);
}
